<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin-page/admin :: html_header-admin }">

<body>
<div id="eq-loader">
    <div class="eq-loader-div">
        <div class="eq-loading dual-loader mx-auto mb-5"></div>
    </div>
</div>

<!--  BEGIN NAVBAR  -->
<header th:replace="~{admin-page/admin  :: my-header-admin}"></header>
<!--  END NAVBAR  -->
<!--  BEGIN PROFILE SIDEBAR  -->


<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="ps-overlay"></div>
    <div class="search-overlay"></div>

    <!--  BEGIN MODERN  -->
    <div th:replace="~{admin-page/admin  :: modern-admin}"></div>
    <!--  END MODERN  -->

    <!--  BEGIN CONTENT PART  -->
    <div id="content" class="main-content ">
        <div class="container " style="margin-top: 50px;">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                    <div class="statbox widget box box-shadow">
                        <form th:object="${product}" method="post" enctype="multipart/form-data">

                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>Thêm sản phẩm </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content widget-content-area add-manage-product-2">
                                <div class="row">
                                    <div class="col-xl-7 col-md-12">
                                        <div class="card card-default">
                                            <div class="card-heading">
                                                <h2 class="card-title"><span>Chung</span></h2>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-body">
                                                    <div class="form-horizontal" style="padding-top: 58px !important;">
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Tên :</label>
                                                                <div class="col-md-8">
                                                                    <input class="form-control" name="name" type="text"
                                                                           th:field="*{name}" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Mô tả ngắn:</label>
                                                                <div class="col-md-8">
                                                                    <textarea rows="4" cols="5" name="description"
                                                                              class="form-control" th:field="*{briefDesc}" required>
                                                                    </textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Mô tả:</label>
                                                                <div class="col-md-8">
                                                                    <textarea rows="4" cols="5" name="description"
                                                                              class="form-control" th:field="*{description}" required></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group mb-4">
                                                            <div class="row">
                                                                <label class="col-md-4">Danh mục :</label>
                                                                <div class="col-md-8">
                                                                    <select class="form-control form-custom mb-4"
                                                                            name="category" th:field="*{category.id}">
                                                                        <option disabled value="">Chọn danh mục</option>
                                                                        <option th:each="cate : ${categoryList}"
                                                                                th:value="${cate.id}"
                                                                                th:text="${cate.name}"></option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-5 col-md-12">
                                        <div class="card card-default">
                                            <div class="card-heading">
                                                <h2 class="card-title"><span>GIÁ CẢ</span></h2>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-horizontal">
                                                    <div class="form-group mb-4">
                                                        <div class="row">
                                                            <label class="col-md-4">Giá bán :</label>
                                                            <div class="col-md-8">
                                                                <input class="form-control" th:field="*{salePrice}"
                                                                       type="number" required>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group mb-4">
                                                        <div class="row">
                                                            <label class="col-md-4">Giảm giá :</label>
                                                            <div class="col-md-8">
                                                                <input class="form-control"
                                                                       th:field="*{percentDiscount}" type="number" required>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group mb-4">
                                                        <div class="row">
                                                            <label class="col-md-4">Giá nhập :</label>
                                                            <div class="col-md-8">
                                                                <input class="form-control" th:field="*{cost}"
                                                                       type="number" required>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group mb-4">
                                                        <div class="row">
                                                            <label class="col-md-4">IsHot :</label>
                                                            <div class="col-md-8">
                                                                <input class="form-control"
                                                                       type="checkbox" th:checked="${product.isHot()}">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group mb-4">
                                                        <div class="row">
                                                            <label class="col-md-4">Số lượng :</label>
                                                            <div class="col-md-8">
                                                                <input class="form-control"
                                                                       type="number" required th:field="*{quantityProd}">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="row">
                                                            <label class="col-md-12"><span>Hình ảnh</span></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <label class="col-md-4">Hình ảnh :</label>
                                                            <div class="col-md-8">
                                                                <div class="mb-3">
                                                                    <div class="custom-file">
                                                                        <input type="file" class="form-control-file"
                                                                               id="file-input" name="photo"
                                                                               accept="image/png, image/jpeg, image/jpg">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--                                                    <div class="form-group">-->
                                                    <!--                                                        <div class="row">-->
                                                    <!--                                                            <label class="col-md-12"><span>Từ khóa</span></label>-->
                                                    <!--                                                        </div>-->
                                                    <!--                                                    </div>-->
                                                    <!--                                                    <div class="form-group">-->
                                                    <!--                                                        <div class="row">-->
                                                    <!--                                                            <label class="col-md-4">Từ khóa :</label>-->
                                                    <!--                                                            <div class="col-md-8">-->
                                                    <!--                                                                <input class="form-control" name="keywords" type="text">-->
                                                    <!--                                                            </div>-->
                                                    <!--                                                        </div>-->
                                                    <!--                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="align-center">
                                            <input value="Thêm sản phẩm" class="btn" type="submit">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--  END CONTENT PART  -->
<!--  END MODERN  -->
<footer th:replace="~{admin-page/admin  :: admin-footer}"></footer>
<!--  END FOOTER  -->

<!--  BEGIN PROFILE SIDEBAR  -->
<aside th:replace="~{admin-page/admin  :: admin-profile}"></aside>
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<th:block th:insert="~{admin-page/admin  :: script}"></th:block>
</html>