<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace = "~{header :: html_header}">

<body>

    <header th:replace="header :: my-header"></header>

    <div th:replace="index :: my-cart"></div>

    <!--====== SHOPPING CART PART ENDS ======-->

    <section class="breadcrum" >
    
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb container">
              <li class="breadcrumb-item"><a href="./index.html">Trang chủ</a></li>
              <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
            </ol>
          </nav>
    </section>
<main role="main">
    <div class="container">
        <div class="row blog-infor">
            <div class="col-lg-8">
                <h3>Tin Tức</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="post-item-1">
                            <img src="./image/news1.jpg" alt="">
                            <div class="b-post-details">
                                <div class="bp-meta">
                                    <a href="#"><i class="fal fa-clock"></i> 22, 07, 2021</a>
                                    <a href="#"><i class="fal fa-comments"></i>6 Comments</a>
                                </div>
                                <h3><a href="single-post.html">5 lợi ích tuyệt vời của thực phẩm hữu cơ đem lại cho người dùng, người nông dân và môi trường.</a></h3>
                                <a class="read-more" href="single-post.html">Đọc thêm<i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="post-item-1">
                            <img src="./image/tiểu dg.jpg" alt="">
                            <div class="b-post-details">
                                <div class="bp-meta">
                                    <a href="#"><i class="fal fa-clock"></i>07, 05, 2021</a>
                                    <a href="#"><i class="fal fa-comments"></i>6 Comments</a>
                                </div>
                                <h3><a href="single-post.html">Bệnh tiểu đường: Những nguyên tắc trong chế độ ăn và thực phẩm phù hợp</a></h3>
                                <a class="read-more" href="single-post.html">Đọc thêm<i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="post-item-1">
                            <img src="./image/dưỡng ẩm.jpg" alt="">
                            <div class="b-post-details">
                                <div class="bp-meta">
                                    <a href="#"><i class="fal fa-clock"></i>21, 08, 2021</a>
                                    <a href="#"><i class="fal fa-comments"></i>6 Comments</a>
                                </div>
                                <h3><a href="single-post.html"> Dưỡng ẩm làn da căng mọng bằng mặt nạ của những loại trái cây tự nhiên.</a></h3>
                                <a class="read-more" href="single-post.html">Đọc thêm<i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="post-item-1">
                            <img src="./image/tại sao.jpg" alt="">
                            <div class="b-post-details">
                                <div class="bp-meta">
                                    <a href="#"><i class="fal fa-clock"></i>22, 11, 2021</a>
                                    <a href="#"><i class="fal fa-comments"></i>5 Comments</a>
                                </div>
                                <h3><a href="single-post.html">Tại sao ORFARM lại lựa chọn phương pháp bảo quản thịt là CẤP ĐÔNG?</a></h3>
                                <a class="read-more" href="single-post.html">Đọc thêm<i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="post-item-1">
                            <img src="./image/thiếu máu.jpg" alt="">
                            <div class="b-post-details">
                                <div class="bp-meta">
                                    <a href="#"><i class="fal fa-clock"></i>24, 08, 2021</a>
                                    <a href="#"><i class="fal fa-comments"></i>12 Comments</a>
                                </div>
                                <h3><a href="single-post.html">Bệnh thiếu máu và những thực phẩm bổ sung sắt cho người thiếu máu.</a></h3>
                                <a class="read-more" href="single-post.html">Đọc thêm<i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="post-item-1">
                            <img src="./image/giàu.jpg" alt="">
                            <div class="b-post-details">
                                <div class="bp-meta">
                                    <a href="#"><i class="fal fa-clock"></i>01, 10, 2021</a>
                                    <a href="#"><i class="fal fa-comments"></i>6 Comments</a>
                                </div>
                                <h3><a href="single-post.html">Thực phẩm hữu cơ không chỉ người giàu mới mua được</a></h3>
                                <a class="read-more" href="single-post.html">Đọc thêm<i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="post-item-1">
                            <img src="./image/hè.jpg" alt="">
                            <div class="b-post-details">
                                <div class="bp-meta">
                                    <a href="#"><i class="fal fa-clock"></i>19, 02, 2021</a>
                                    <a href="#"><i class="fal fa-comments"></i>10 Comments</a>
                                </div>
                                <h3><a href="single-post.html">Những thực phẩm nên ăn trong hè này.</a></h3>
                                <a class="read-more" href="single-post.html">Đọc thêm<i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                  
                  
                    <div class="col-lg-6">
                        <div class="post-item-1">
                            <img src="./image/ngày hè.jpg" alt="">
                            <div class="b-post-details">
                                <div class="bp-meta">
                                    <a href="#"><i class="fal fa-clock"></i>06, 06, 2021</a>
                                    <a href="#"><i class="fal fa-comments"></i>6 Comments</a>
                                </div>
                                <h3><a href="single-post.html">"Bốn “siêu thực phẩm” nhất định phải ăn trong mùa hè".</a></h3>
                                <a class="read-more" href="single-post.html">Đọc thêm<i class="fal fa-arrow-right"></i></a>
                            </div>
                        </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="bisylms-pagination">
                            <span class="current">01</span>
                            <a href="#">02</a>
                            <a class="next" href="#">next<i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-sidebar">
                    <aside class="widget widget-search">
                        <form class="search-form" action="#" method="post">
                            <input oninput=" searchData()" type="search" name="s" id="searchInfor" placeholder="Search...">
                            <button type="submit"><i class="fal fa-search"></i></button>
                        </form>
                    </aside>
                    <aside class="widget widget-categories">
                        <h3 class="widget-title">Tin tức</h3>
                        <ul>
                            <li><a href="#">Giải đáp thắc mắc: Thực phẩm hữu cơ luôn ngon và đẹp hơn thực phẩm thông thường?</a></li>
                            <li><a href="#">Bọt trắng đục nổi trên mặt nồi canh hầm xương thực chất là gì và có nên vớt bỏ không?</a></li>
                            <li><a href="#">Top 10 những cửa hàng thực phẩm hữu cơ và thực phẩm sạch uy tín ở Hà Nội</a></li>
                            <li><a href="#">Tại sao ORFARM lại lựa chọn phương pháp bảo quản thịt là CẤP ĐÔNG?</a></li>
                            <li><a href="#">13 thực phẩm tốt cho sức khỏe tim mạch</a></li>
                            <li><a href="#">Top 8 Cửa hàng thực phẩm hữu cơ uy tín ở TP. Hồ Chí Minh</a></li>
                            <li><a href="#">Dưỡng ẩm làn da căng mọng bằng mặt nạ của những loại trái cây tự nhiên</a></li>
                        </ul>
                    </aside>
                      <aside class="widget widget-trend-post">
                        <h3 class="widget-title">Bài đăng phổ biến</h3>
                        <div class="popular-post">
                            <a href="single-post.html"><img src="./image/news1.jpg" alt=""></a>
                            <h5><a href="single-post.html">Thực phẩm hữu cơ là gì?</a></h5>
                            <span>March 19, 2021</span>
                        </div>
                        <div class="popular-post">
                            <a href="single-post.html"><img src="./image/news2.jpg" alt=""></a>
                            <h5><a href="single-post.html">5 lợi ích của thực phẩm hữu cơ đem lại</a></h5>
                            <span>Jan 14, 2021</span>
                        </div>
                        <div class="popular-post">
                            <a href="single-post.html"><img src="./image/new2.png" alt=""></a>
                            <h5><a href="single-post.html">Những lưu ý khi cho trẻ sử dụng nước ép trái</a></h5>
                            <span>April 12, 2021</span>
                        </div>
                        <div class="popular-post">
                            <a href="single-post.html"><img src="./image/news4.png" alt=""></a>
                            <h5><a href="single-post.html">Làm sao để con chịu uống nước ép rau củ?</a></h5>
                            <span>July 4, 2021</span>
                        </div>
                    </aside>
                    <aside class="widget">
                         <h3 class="widget-title">Thẻ tìm kiếm</h3>
                         <div class="tags">
                            <a href="#">Thực phẩm</a>
                            <a href="#">Sức khỏe</a>
                            <a href="#">Chăm sóc da</a>
                            <a href="#">Uy tín</a>
                            <a href="#">Sạch</a>
                            <a href="#">Trẻ em</a>
                            <a href="#">Người già</a>
                            <a href="#">OrFarm</a>
                            <a href="#">Mặt nạ</a>
                            <a href="#">Hữu cơ</a>
                         </div>
                    </aside>
                    </div>  
            </div>
        </div>
    </div>
</main>
    <footer th:replace = "~{footer :: html_footer}"> </footer>
    </body>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <th:block th:insert="~{header :: script}"></th:block>
</html>