<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace = "~{header :: html_header}">

<body>

    <header th:replace="header :: my-header"></header>

    <div th:replace="index :: my-cart"></div>

    <section class="breadcrum" >
    
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb container">
              <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
          </nav>
    </section>
    
<main role="main">
    <setion class="main-contact ">
        <div class="container">
            <div class="row contact-cover">
                <div class="col-lg-5 col-sm-12 form-contact1">
                    <h2 class="text-center">Liên hệ</h2>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Họ Tên</label>
                            <input  required type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Họ Tên">
                           
                          </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email </label>
                          <input  required type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                         
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Điện Thoại </label>
                          <input required type="text" class="form-control" id="exampleInputPassword1" placeholder="Điện Thoại">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Địa Chỉ </label>
                            <input required type="text" class="form-control" id="exampleInputPassword1" placeholder="Địa Chỉ">
                          </div>
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Example textarea</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                       
                        <button type="submit" class="btn btn-block btn-warning">Gửi Liên Hệ</button>
                      </form>
                </div>
                <div class="col-lg-6 col-sm-12 form-contact2 ">
                    <p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.827534707655!2d105.78990511423683!3d21.03958568599247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab98e8e55fb7%3A0xb834a420c7ed1b08!2zTmjDoCBCMyBsw6BuZyBxdeG7kWMgdOG6vyB0aMSDbmcgbG9uZw!5e0!3m2!1svi!2s!4v1639970855288!5m2!1svi!2s" width="540" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </p>
                    <h3>SHOWROOM ORFARM HÀ NỘI</h3>
                    <p><strong>Địa chỉ:</strong> Tầng 1, toà B3, Làng quốc tế Thăng Long, Trần Đăng Ninh, Quận Cầu Giấy</p>

                        <p><strong>Điện thoại:</strong> 024 3793 9966 - 091 883 6911</p>
                </div>
            </div>
        </div>
        
    </setion>
</main>

    <footer th:replace = "~{footer :: html_footer}"> </footer>
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <th:block th:insert="~{header :: script}"></th:block>
</html>