<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace = "~{header :: html_header}">
<body>

    <header th:replace="header :: my-header"></header>

<!--====== orfarm HEADER PART ENDS ======-->

    <div class="orfarm-about-top-title-area mt-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="orfarm-about-top-title">
                        <h3 class="title">Farmfood Freshbox Fresh & Healthy </h3>
                        <p>Shop now</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== orfarm HEADER PART ENDS ======-->


    <!--====== orfarm HEADER PART ENDS ======-->

    <section class="orfarm-about-page-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="orfarm-about-page-content">
                        <h3 class="title">ORFARM – Chuỗi Sản xuất & Phân phối Thực phẩm Chất lượng Cao đạt Chứng nhận Quốc tế
                </h3>
                        <p>ORFARM được viết tắt từ cụm từ ORGANIC FARM (Trang trại hữu cơ)
                        Thành lập tại Hà Nội vào tháng 12 năm 2013, ORFARM là Thương hiệu thực phẩm hữu cơ đầu tiên của Việt Nam được cấp chứng nhận Thực phẩm Hữu cơ EM GREEN của tổ chức EMRO Nhật Bản.</p>
                        Chúng tôi áp dụng thành công Công nghệ Vi sinh hữu hiệu (EM) của Nhật Bản trong toàn bộ qui trình sản xuất nhằm tạo ra những sản phẩm nông nghiệp chất lượng cao, an toàn nhất 
                        vì sức khỏe người tiêu dùng và bảo vệ môi trường. 
                        Để duy trì và đảm bảo cung cấp các dòng sản phẩm hữu cơ, an toàn theo đúng cam kết, chúng tôi chọn giải pháp mở chuỗi cửa hàng thực phẩm ORFARM, chuyên giới thiệu và phân phối
                         các dòng sản phẩm nông nghiệp chất lượng cao từ TRANG TRẠI tới TAY NGƯỜI TIÊU DÙNG.</p>
                        <a href="#"> Xem giấy chứng nhận của chúng tôi. <i class="fal fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="index :: my-cart"></div>

    <!--====== SHOPPING CART PART ENDS ======-->

    <!--====== orfarm SERRVICE 2 PART START ======-->

    <section class="orfarm-services-2-area pt-90 pb-55" id="service">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-6 col-md-8">
                    <div class="orfarm-section-title">
                        <h3 class="orfarm-title">Dựa trên nguyên tắc 6 KHÔNG</h3>
                        <p>Hiểu được tâm lí người mua, cũng như đóng vai trò là người cung cấp các thực phẩm liên quan đến sức khỏe con người
                        chúng tôi đã kiểm duyệt nguồn vào rõ ràng theo đúng 6 nguyên tắc đảm bảo an toàn, tốt cho sức khỏe người tiêu dùng.  </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="orfarm-single-service-2 orfarm-single-service-about mt-30 wow animated fadeInUp"
                        data-wow-duration="2000ms" data-wow-delay="200ms">
                        <div class="icon">
                            <i class="fal fa-tv"></i>
                        </div>
                        <h4 class="title">Nguyên tắc 1</h4>
                        <p>Không dùng thuốc diệt cỏ</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="orfarm-single-service-2 orfarm-single-service-about item-2 mt-30 wow animated fadeInUp"
                        data-wow-duration="2000ms" data-wow-delay="400ms">
                        <div class="icon">
                            <i class="fal fa-code"></i>
                        </div>
                        <h4 class="title">Nguyên tắc 2</h4>
                        <p>Không dùng thuốc trừ sâu hóa học</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="orfarm-single-service-2 orfarm-single-service-about item-3 mt-30 wow animated fadeInUp"
                        data-wow-duration="2000ms" data-wow-delay="600ms">
                        <div class="icon">
                            <i class="fal fa-user-friends"></i>
                        </div>
                        <h4 class="title">Nguyên tắc 3 </h4>
                        <p>Không dùng các chất kích thích tăng trưởng</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="orfarm-single-service-2 orfarm-single-service-about item-4 mt-30 wow animated fadeInUp"
                        data-wow-duration="2000ms" data-wow-delay="200ms">
                        <div class="icon">
                            <i class="fal fa-mobile"></i>
                        </div>
                        <h4 class="title">Nguyên tắc 4 </h4>
                        <p>Không dùng phân bón hóa học</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="orfarm-single-service-2 orfarm-single-service-about item-5 mt-30 wow animated fadeInUp"
                        data-wow-duration="2000ms" data-wow-delay="400ms">
                        <div class="icon">
                            <i class="fal fa-retweet"></i>
                        </div>
                        <h4 class="title">Nguyên tắc 5 </h4>
                        <p>Không dùng giống đột biến gen</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="orfarm-single-service-2 orfarm-single-service-about item-6 mt-30 wow animated fadeInUp"
                        data-wow-duration="2000ms" data-wow-delay="600ms">
                        <div class="icon">
                            <i class="fal fa-bell"></i>
                        </div>
                        <h4 class="title">Nguyên tắc 6 </h4>
                        <p>Không dùng giống cây không rõ nguồn gốc</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== orfarm SERRVICE 2 PART ENDS ======-->

    <!--====== orfarm TEAM PART START ======-->

    <section class="orfarm-team-area orfarm-team-about-area pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="orfarm-section-title text-center">
                        <h3 class="orfarm-title">Gặp gỡ các Co-founder của OrFarm</h3>
                        <p>Những người sáng lập và đem tới sự lựa chọn cho sức khỏe người tiêu dùng.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="orfarm-team-item orfarm-team-item-about mt-30 wow animated fadeInUp"
                        data-wow-duration="2000ms" data-wow-delay="200ms">
                        <div class="thumb">
                            <img src="assets/images/team-2.jpg" alt="">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                        <div class="content text-left">
                            <h5 class="title">Benjamin Evalent</h5>
                            <span>CEO-Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="orfarm-team-item orfarm-team-item-about mt-30 wow animated fadeInUp"
                        data-wow-duration="2000ms" data-wow-delay="400ms">
                        <div class="thumb">
                            <img src="assets/images/team-2.jpg" alt="">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                        <div class="content text-left">
                            <h5 class="title">Benjamin Evalent</h5>
                            <span>CEO-Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="orfarm-team-item  orfarm-team-item-about-last orfarm-team-item-about mt-30 wow animated fadeInUp"
                        data-wow-duration="2000ms" data-wow-delay="600ms">
                        <div class="thumb">
                            <img src="assets/images/team-3.jpg" alt="">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                        <div class="content text-left">
                            <h5 class="title">Benjamin Evalent</h5>
                            <span>CEO-Founder</span>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-12">
                    <div class="team-btn text-center mt-50">
                        <a class="main-btn" href="./shop.html"> Xem tất cả các sản phẩm của chúng tôi. <i class="fal fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-2 mb-3">
        <div class="container">
            <div class="ftlink-li footer-newsletter">
                <div class="news-letter">
                    <div class="title">

                        <h2 class="ft-title">Cơ Hội Săn Mã Giảm Giá Cuối Cùng !!!</h2>


                        <p class="pb-2">NHẬN NGAY GIẢM GIÁ 20% CHO LẦN MUA HÀNG ĐẦU TIÊN TẠI SHOP!!</p>

                    </div>
                    <div class="subscribe-content">
                        <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form-coupon"><input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓">
                            <input type="hidden" name="contact[tags]" value="newsletter">
                            <div class="subscribe-block ">
                                <input type="email" name="contact[email]" class="email form-control mail text-medium" id="E-mail" value="" placeholder="Enter Your Email Address" autocapitalize="off">
                                <button type="submit" class="btn-style1" name="commit" id="Subscribe"><a href="./createAccount.html" style="text-decoration: none; color: #fff;">Đăng Ký</a></button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="index :: my-cart"></div>

    <footer th:replace = "~{footer :: html_footer}"> </footer>
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <th:block th:insert="~{header :: script}"></th:block>
</html>