<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace = "~{header :: html_header}">
<body>

    <header th:replace="header :: my-header"></header>

    <div th:replace="index :: my-cart"></div>
    <!--====== SHOPPING CART PART ENDS ======-->
    <main>
        <section class="orfarm-hero-area orfarm-hero-6-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="orfarm-hero-thumb-6">
                            <div class="thumb wow animated fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                                <img src="https://orfarm.com.vn/upload_images/images/2020/03/12/Green%20Pork%202020-1(1).jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="orfarm-hero-content orfarm-hero-content-6">
                            <span>EMRO Nhật Bản.</span>
                            <h1 class="orfarm-title">Giấy Chứng Nhận Hữu Cơ Vi Sinh.</h1>
                            <p>Giấy chứng nhận công nghệ vi sinh EM Green từ tổ chức EMRO Nhật Bản.</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="orfarm-counter-area pb-190 pt-190">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="orfarm-section-title">
                            <h3 class="orfarm-title">Thành tựu đạt được suốt 5 năm qua</h3>
                            <p>Trải qua quá trình hoạt động dài chúng tôi đã đạt được những con số đáng mơ ước. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="orfarm-single-counter mt-30 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms">
                            <div class="counter-content">
                                <div class="icon">
                                    <img src="assets/images/icon/counter-icon-1.svg" alt="">
                                </div>
                                <h3 class="title"><span class="counter-item">45</span>k+</h3>
                                <p>Số lượng khách hàng theo dõi trên fanpage OrFarm.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="orfarm-single-counter mt-30 item-2 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="400ms">
                            <div class="counter-content">
                                <div class="icon">
                                    <img src="assets/images/icon/counter-icon-2.svg" alt="">
                                </div>
                                <h3 class="title"><span class="counter-item">4</span>+</h3>
                                <p>Đạt chứng chỉ trong 5 năm liên tiếp</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="orfarm-single-counter mt-30 item-3 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="600ms">
                            <div class="counter-content">
                                <div class="icon">
                                    <img src="assets/images/icon/counter-icon-3.svg" alt="">
                                </div>
                                <h3 class="title"><span class="counter-item">689</span>k+</h3>
                                <p>Lượt khách hàng yêu thích các sản phẩm</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="orfarm-single-counter mt-30 item-4 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="800ms">
                            <div class="counter-content">
                                <div class="icon">
                                    <img src="assets/images/icon/counter-icon-4.svg" alt="">
                                </div>
                                <h3 class="title"><span class="counter-item">725</span>k+</h3>
                                <p>Lượt mua hàng trong 5 năm qua.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="orfarm-counter-area1 pt-190">
    <div class="row px-5 mx-5 ">
        <div class="post-journial">
            <div class="single-post-area" style="text-align: justify;">
                <h3>Giấy chứng nhận công nghệ vi sinh EM Green từ tổ chức EMRO Nhật Bản
                    <p >Nhờ nỗ lực và tâm huyết làm nông nghiệp sạch nghiêm túc, minh bạch, chúng tôi vinh dự là đơn vị sản xuất đầu tiên và duy nhất tại Việt Nam hiện nay có được chứng chỉ của tổ chức uy tín EMRO suốt 6 năm liên tiếp. Sự chứng minh rõ ràng nhất về chất lượng sản phẩm của ORFARM là những giá trị về sức khỏe do chính những khách hàng trung thành của chúng tôi cảm nhận được.</p></h3>
                <p>
                    Tổ chức nghiên cứu EM (EMRO) được thành lập năm 1994 tại Nhật Bản, hướng tới mục đích đóng góp cho xã hội bằng các sáng kiến sinh học để cải thiện nông nghiệp và môi trường tự nhiên. Sáng kiến đó chính là công nghệ vi sinh EM, được ra đời với mục tiêu là thúc đẩy nông nghiệp bền vững, cung cấp thực phẩm lành mạnh và bảo vệ môi trường. Hiện công nghệ này đã được áp dụng tại hơn 120 quốc gia trên khắp thế giới.

Người Nhật Bản vốn nổi tiếng với văn hoá kỷ luật và nghiêm túc tuyệt đối trong công việc. EMRO cũng không ngoại lệ. Hàng năm, chuyên gia Nhật Bản sẽ tới thị sát, kiểm tra quy trình sản xuất và chất lượng nông sản ở trang trại Thuỷ Thiên Nhu - ORFARM. Chỉ khi các chỉ số và quy trình đều đạt chuẩn, EMRO mới tiếp tục cấp giấy chứng nhận EM Green. Ngược lại, nếu phát hiện sai phạm đi ngược lại tiêu chí EM Green, hay quy trình chưa đạt tiêu chuẩn, EMRO sẽ ngay lập tức thu hồi lại chứng nhận để đảm bảo uy tín của tổ chức.

Thành tựu 6 năm liên tiếp đạt chứng nhận EM Green là minh chứng rõ nhất cho sự ổn định, bền vững của trang trại và cho cả những nỗ lực tâm huyết, kỷ cương trong chặng đường làm nông nghiệp sạch của ORFARM. 
                </p>
                <div class=" post-thumb">
                    <img src="https://orfarm.com.vn/upload_images/images/2020/03/12/Green%20Pork%202020-1(1).jpg" alt="">
                    <p >Giấy chứng nhận cho dòng sản phẩm Thịt gà hữu cơ EM Green</p>
                </div>
                <div class=" post-thumb">
                    <img src="https://orfarm.com.vn/upload_images/images/2020/03/12/Green%20chicken%202020-1(1).jpg" alt="">
                    <p >Giấy chứng nhận cho dòng sản phẩm Thịt gà hữu cơ EM Green</p>
                </div>
                <div class=" post-thumb">
                    <img src="https://orfarm.com.vn/upload_images/images/2020/03/12/Green%20Veg%202020-1(1).jpg" alt="">
                    <p>Giấy chứng nhận cho dòng sản phẩm Rau củ quả hữu cơ EM Green

                    </p>
                </div>
                <h4 class="article-title">
                    Một số hình ảnh Thạc sĩ Toru Koshoji - giám đốc EMRO châu Á và Tiến sĩ Lê Khắc Quảng - giám đốc Trung tâm phát triển công nghệ Việt Nhật qua thăm và trao giấy chứng nhận EM Green 2020 cho ORFARM:
                </h4>
                <p>
                    Ở ORFARM, chúng tôi đặt lợi ích sức khoẻ của khách hàng lên ưu tiên hàng đầu. Các sản phẩm ở ORFARM luôn có đầy đủ thông tin nguồn gốc, xuất xứ, có giấy chứng nhận an toàn vệ sinh thực phẩm. Không chỉ minh bạch về nguồn gốc, chúng tôi siết chặt yêu cầu về cả chất lượng bằng cách áp dụng công nghệ vi sinh EM Green tiên tiến của Nhật Bản vào quy trình sản xuất tuần hoàn khép kín của mình để tạo ra những nông sản hữu cơ dinh dưỡng, đồng thời chọn lọc những nguồn thực phẩm tự nhiên chất lượng cao từ toàn thế giới để đem tới bàn ăn của người dân Việt.
                </p>
                <blockquote>
                    <p>
                        Lựa chọn thực phẩm, rau, thịt, thủy sản tươi sống sạch, rõ nguồn gốc xuất xứ cho bữa ăn ngon, an toàn sức khoẻ.
                    </p>
                    <cite>Tin Tức 24H</cite>
                </blockquote>
                <div class="img-license pt-5 w-500 h-500">
                    <img src="https://orfarm.com.vn/upload_images/images/2020/03/12/85034678_1392935104219315_6474698520531042304_o(1).jpg" alt="">
                </div>
                <div class="img-license pt-5">
                    
                        <img src="https://orfarm.com.vn/upload_images/images/orfarm-tieu-chi.png" alt="">
                    </div>
                    <div class="img-license pt-5">
                    
                        <img src="https://orfarm.com.vn/upload_images/images/2020/03/12/IMG_6538(1).jpg" alt="">
                    </div>
                    <div class="img-license pt-5 pb-5">
                    
                        <img src="https://orfarm.com.vn/upload_images/images/2020/03/10/A%CC%89nh%20chu%CC%A3p%20Ma%CC%80n%20hi%CC%80nh%202020-03-10%20lu%CC%81c%201_54_53%20CH.png" alt="">
                    </div>
                </div>
                <div class="post-tags">
                    <h5>Tags:</h5>
                    <a href="#">Chứng nhận</a>
                    <a href="#">Quy trình</a>
                    <a href="#">Kỹ Sư</a>
                </div>
                <div class="post-share">
                    <h5>Share:</h5>
                    <a class="fac" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="twi" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="goo" href="#"><i class="fab fa-google"></i></a>
                </div>
                <div class="post-admin">
                    <img src="https://orfarm.com.vn/upload_images/images/orfarm-logo.png" alt="">
                    <a href="#">OrFarm</a>
                    <span>Sứ mệnh của OrFarm</span>
                    <p>
                        Chung tay thay đổi nhận thức trong Sản xuất Nông nghiệp SẠCH & sử dụng Thực phẩm AN TOÀN.
                    </p>
                </div>
            </div>
           
            
    </div>
</section>

<section class="orfarm-blog-3-area orfarm-blog-6-area pt-5 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="orfarm-section-title text-center">
                    <h3 class="orfarm-title">Tin tức gần đây nhất.</h3>
                    <p>Nơi cung cấp các thông tin dinh dưỡng cho gia đình bạn !</p>
                </div>                    
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="orfarm-blog-item-3 orfarm-blog-item-6 mt-30">
                
                    <div class="thumb">
                        <img src="./image/tiểu dg.jpg" alt="">
                    </div>
                    <div class="content">
                        <h5 class="title"><a href="./News/news1.html">Bệnh tiểu đường: Những nguyên tắc trong chế độ ăn và thực phẩm phù hợp</a></h5>
                        <div class="meta-item">
                            <ul>
                                <li><i class="fal fa-clock"></i> 07, 05, 2021</li>
                                <li><i class="fal fa-comments"></i> 6 Comments</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="orfarm-blog-item-3 orfarm-blog-item-6 mt-30">
                    <div class="thumb">
                        <img src="./image/tiểu dg.jpg" alt="">
                    </div>
                    <div class="content">
                        <h5 class="title"><a href="./News/news1.html">Bệnh tiểu đường: Những nguyên tắc trong chế độ ăn và thực phẩm phù hợp</a></h5>
                        <div class="meta-item">
                            <ul>
                                <li><i class="fal fa-clock"></i> 07, 05, 2021</li>
                                <li><i class="fal fa-comments"></i> 6 Comments</li>
                            </ul>
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="col-lg-6">
                <div class="orfarm-blog-item-3 orfarm-blog-item-6 mt-30">
                    <div class="thumb">
                        <img src="./image/tiểu dg.jpg" alt="">
                    </div>
                    <div class="content">
                        <h5 class="title"><a href="./News/news1.html">Bệnh tiểu đường: Những nguyên tắc trong chế độ ăn và thực phẩm phù hợp</a></h5>
                        <div class="meta-item">
                            <ul>
                                <li><i class="fal fa-clock"></i> 07, 05, 2021</li>
                                <li><i class="fal fa-comments"></i> 6 Comments</li>
                            </ul>
                        </div>
                    
                </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="orfarm-blog-item-3 orfarm-blog-item-6 mt-30">
                    <div class="thumb">
                        <img src="./image/tiểu dg.jpg" alt="">
                    </div>
                    <div class="content">
                        <h5 class="title"><a href="./News/news1.html">Bệnh tiểu đường: Những nguyên tắc trong chế độ ăn và thực phẩm phù hợp</a></h5>
                        <div class="meta-item">
                            <ul>
                                <li><i class="fal fa-clock"></i> 07, 05, 2021</li>
                                <li><i class="fal fa-comments"></i> 6 Comments</li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="blog-btn text-center mt-60">
                    <a class="main-btn" href="./blog.html">Xem tất cả <i class="fal fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
    </main>
    <footer th:replace = "~{footer :: html_footer}"> </footer>
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <th:block th:insert="~{header :: script}"></th:block>
</html>